.submit {
  width: 60%;
  margin: auto;
  margin-top: 10px;
  font-weight: 600;
  padding: 5px 0;
  border: none;
  cursor: pointer;
}

.submit:hover {
  transition: 0.8s;
  background-color: rgb(237, 143, 126);
}
